<h1>BOOK LIST</h1>

<form action = '/book/search' method="post">
    <input type="text" name="language">
    <button type="submit" class="btn btn-success">Search Language</button>
</form>

{{#if books}}
  <table>
      <tr>
          <th>
              BOOK Title
          </th>
          <th>
              Author
          </th>
          <th>
              Year Of Publish
          </th>
          <th>
              Language
          </th>
          <th>
              Description
          </th>
          <th>
              Updated Date
          </th>
          <th>
              Edit
          </th>
      </tr>
  {{#each books}}
     <tr>
         <td>
             {{title}}
         </td>
         <td>
             {{author}}
         </td>
         <td>
             {{published}}
         </td>
         <td>
             {{language}}
         </td>
         <td>
             {{description}}
         </td>
         <td>
             {{updatedDate}}
         </td>

     </tr>
  {{/each}}
  </table>
{{/if}}